

    <!-- svg иконки end-->
    <div class="page-wrapp">
      <div class="content-without-footer">
        <%= render "layouts/header"%>
        <!-- af header line start-->
        <div class="af-header-line">
          <div class="container-fluid clearfix">
            <div class="af-header-line_left-block">
              <svg class="svg-icon winners-icon">
                <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#mc-icon-winners"></use>
              </svg>
              <div class="af-header-line_left-block_text"><span>WINNERS</span></div>
            </div>
            <div class="af-header-line_right-block clearfix hidden-sm hidden-xs">
              <div class="af-header-line_right-block_lined-btn">
                <div class="af-header-line_right-block_lined-btn_icon"><span></span><span></span><span></span></div>
              </div>
              <div class="af-header-line_right-block_select">
                <select title="City" class="selectpicker">
                  <option>City 1</option>
                  <option>City 2</option>
                  <option>City 3</option>
                  <option>City 4</option>
                  <option>City 5</option>
                  <option>City 6</option>
                </select>
              </div>
              <div class="af-header-line_right-block_select">
                <select title="Category" class="selectpicker">
                  <option>Category 1</option>
                  <option>Category 2</option>
                  <option>Category 3</option>
                  <option>Category 4</option>
                  <option>Category 5</option>
                  <option>Category 6</option>
                </select>
              </div>
              <div class="af-header-line_right-block_select">
                <select title="Type" class="selectpicker">
                  <option>Type 1</option>
                  <option>Type 2</option>
                  <option>Type 3</option>
                  <option>Type 4</option>
                  <option>Type 5</option>
                  <option>Type 6</option>
                </select>
              </div>
              <div class="af-header-line_right-block_select">
                <select class="selectpicker">
                  <option>October 2015</option>
                  <option>October 2015</option>
                  <option>October 2015</option>
                  <option>October 2015</option>
                  <option>October 2015</option>
                  <option>October 2015</option>
                  <option>October 2015</option>
                </select>
              </div>
            </div>
            <div class="af-header-line_right-block_filter-select visible-xs visible-sm">
              <select title="FILTER RESULT" class="selectpicker">
                <option>FILTER 1</option>
                <option>FILTER 2</option>
                <option>FILTER 3</option>
                <option>FILTER 4</option>
              </select>
            </div>
          </div>
        </div>
        <!-- af header line end-->
        <!-- listing start-->
        <div class="listing-wrap">
          <div class="listing-wrap_title">
            <div class="container"><span>10 Best Custom Web Design Firms</span></div>
          </div>
          <div class="listing-wrap_month">
            <div class="container"><span>October 2015</span></div>
          </div>
          <div class="listing-wrap_grid grid">
            <div class="listing-wrap_grid_sizer"></div>
            <div class="listing-wrap_grid_gutter"></div>
            <div class="listing-wrap_grid_grid-item text-item hidden-xs hidden-sm">
              <p>Our team of industry professionals have ranked the best web design firms from around the world. Our comprehensive analyses allow us to judge companies based on a wide variety of data points, which are processed through our proprietary analytic system. This algorithmic analysis was used to generate the <b>10 Best Custom Web Design Firms </b>awarded below. Ranking order is based on a wide range of qualitative and quantitative statistics, including the payment of variable monthly listing fees to be in our directory. Learn more about our ranking process <a href="#">here.</a></p>
            </div>
            <div class="listing-wrap_grid_grid-item big-item clearfix">
              <div style="background-image: url(assets/userfiles/blog/img.jpg)" class="big-item_left hidden-xs hidden-sm"><a href="#">
                  <svg class="svg-icon link-icon">
                    <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#link-icon"></use>
                  </svg></a></div>
              <div class="details-similars-wrap_item_img visible-xs visible-sm"><a href="#"><%= image_tag "userfiles/blog/img.jpg" %></a></div>
              <div class="big-item_right">
                <div class="details-img-wrap_img-place_top-icon-listing">
                  <svg class="svg-icon top-icon-path">
                    <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#top-icon-path"></use>
                  </svg>
                  <div class="round"><span>#1</span></div>
                </div>
                <div class="details-similars-wrap_item_text clearfix">
                  <div class="details-similars-wrap_item_text_icon"><%= image_tag "template/similar-arph-icon.png" %></div>
                  <div class="details-similars-wrap_item_text_wrap">
                    <div class="details-similars-wrap_item_text_name"><a href="#"> Dotlogics </a></div>
                    <div class="details-similars-wrap_item_text_text2">
                      <div class="adress"><span>Farmingdale, USA</span></div>
                      <div class="by"><span>By:  <a href="#">Carmichael Lynch</a></span></div>
                    </div>
                  </div>
                </div>
                <div class="big-item_right_text hidden-xs hidden-sm">
                  <p> <b>#1 of 10 Leading Website Design Businesses of 2015 </b>- Big Drop Inc offers Web design packages that mostly appeal to individuals and businesses in New York City. Marketing solutions such as search engine optimization are included in the full-scale development of this firm. For example, WordPress platforms already have SEO modules that facilitate the promotion of content. This template is....</p>
                </div>
                <div class="details-similars-wrap_item_footer">
                  <div class="details-similars-wrap_item_footer_buttons clearfix">
                    <div class="details-similars-wrap_item_footer_buttons_blue"><a href="#">VIEW DETAILS</a></div>
                    <div class="details-similars-wrap_item_footer_buttons_green"><a href="#">VIEW WEBSITE</a></div>
                  </div>
                  <div class="details-similars-wrap_item_footer_like"><a href="#">
                      <svg class="svg-icon like-icon">
                        <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#like-icon"></use>
                      </svg></a></div>
                  <div class="details-similars-wrap_item_footer_share"><a href="#">
                      <svg class="svg-icon share-icon">
                        <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#share-icon"></use>
                      </svg></a></div>
                </div>
              </div>
            </div>
            <div class="listing-wrap_grid_grid-item">
              <div class="details-similars-wrap_item">
                <div class="details-similars-wrap_item_img"><a href="#"><%= image_tag "userfiles/blog/img.jpg" %></a></div>
                <div class="details-similars-wrap_item_text clearfix">
                  <div class="details-similars-wrap_item_text_icon"><%= image_tag "template/similar-arph-icon.png" %></div>
                  <div class="details-similars-wrap_item_text_wrap">
                    <div class="details-similars-wrap_item_text_name"><a href="#"> Dotlogics </a></div>
                    <div class="details-similars-wrap_item_text_text2">
                      <div class="adress"><span>Farmingdale, USA</span></div>
                      <div class="by"><span>By:  <a href="#">Carmichael Lynch</a></span></div>
                    </div>
                  </div>
                </div>
                <div class="details-similars-wrap_item_footer">
                  <div class="details-similars-wrap_item_footer_buttons clearfix">
                    <div class="details-similars-wrap_item_footer_buttons_blue"><a href="#">VIEW DETAILS</a></div>
                    <div class="details-similars-wrap_item_footer_buttons_green"><a href="#">VIEW WEBSITE</a></div>
                  </div>
                  <div class="details-similars-wrap_item_footer_like"><a href="#">
                      <svg class="svg-icon like-icon">
                        <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#like-icon"></use>
                      </svg></a></div>
                  <div class="details-similars-wrap_item_footer_share"><a href="#">
                      <svg class="svg-icon share-icon">
                        <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#share-icon"></use>
                      </svg></a></div>
                </div>
              </div>
            </div>
            <div class="listing-wrap_grid_grid-item">
              <div class="details-similars-wrap_item">
                <div class="details-similars-wrap_item_img"><a href="#"><%= image_tag"userfiles/blog/img.jpg" %></a></div>
                <div class="details-similars-wrap_item_text clearfix">
                  <div class="details-similars-wrap_item_text_icon"><%= image_tag"template/similar-arph-icon.png" %></div>
                  <div class="details-similars-wrap_item_text_wrap">
                    <div class="details-similars-wrap_item_text_name"><a href="#"> Dotlogics </a></div>
                    <div class="details-similars-wrap_item_text_text2">
                      <div class="adress"><span>Farmingdale, USA</span></div>
                      <div class="by"><span>By:  <a href="#">Carmichael Lynch</a></span></div>
                    </div>
                  </div>
                </div>
                <div class="details-similars-wrap_item_footer">
                  <div class="details-similars-wrap_item_footer_buttons clearfix">
                    <div class="details-similars-wrap_item_footer_buttons_blue"><a href="#">VIEW DETAILS</a></div>
                    <div class="details-similars-wrap_item_footer_buttons_green"><a href="#">VIEW WEBSITE</a></div>
                  </div>
                  <div class="details-similars-wrap_item_footer_like"><a href="#">
                      <svg class="svg-icon like-icon">
                        <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#like-icon"></use>
                      </svg></a></div>
                  <div class="details-similars-wrap_item_footer_share"><a href="#">
                      <svg class="svg-icon share-icon">
                        <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#share-icon"></use>
                      </svg></a></div>
                </div>
              </div>
            </div>
            <div class="listing-wrap_grid_grid-item">
              <div class="details-similars-wrap_item">
                <div class="details-similars-wrap_item_img"><a href="#"><%= image_tag"userfiles/blog/img.jpg" %></a></div>
                <div class="details-similars-wrap_item_text clearfix">
                  <div class="details-similars-wrap_item_text_icon"><%= image_tag"template/similar-arph-icon.png" %></div>
                  <div class="details-similars-wrap_item_text_wrap">
                    <div class="details-similars-wrap_item_text_name"><a href="#"> Dotlogics </a></div>
                    <div class="details-similars-wrap_item_text_text2">
                      <div class="adress"><span>Farmingdale, USA</span></div>
                      <div class="by"><span>By:  <a href="#">Carmichael Lynch</a></span></div>
                    </div>
                  </div>
                </div>
                <div class="details-similars-wrap_item_footer">
                  <div class="details-similars-wrap_item_footer_buttons clearfix">
                    <div class="details-similars-wrap_item_footer_buttons_blue"><a href="#">VIEW DETAILS</a></div>
                    <div class="details-similars-wrap_item_footer_buttons_green"><a href="#">VIEW WEBSITE</a></div>
                  </div>
                  <div class="details-similars-wrap_item_footer_like"><a href="#">
                      <svg class="svg-icon like-icon">
                        <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#like-icon"></use>
                      </svg></a></div>
                  <div class="details-similars-wrap_item_footer_share"><a href="#">
                      <svg class="svg-icon share-icon">
                        <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#share-icon"></use>
                      </svg></a></div>
                </div>
              </div>
            </div>
            <div class="listing-wrap_grid_grid-item">
              <div class="details-similars-wrap_item">
                <div class="details-similars-wrap_item_img"><a href="#"><%= image_tag"userfiles/blog/img.jpg" %></a></div>
                <div class="details-similars-wrap_item_text clearfix">
                  <div class="details-similars-wrap_item_text_icon"><%= image_tag"template/similar-arph-icon.png" %></div>
                  <div class="details-similars-wrap_item_text_wrap">
                    <div class="details-similars-wrap_item_text_name"><a href="#"> Dotlogics </a></div>
                    <div class="details-similars-wrap_item_text_text2">
                      <div class="adress"><span>Farmingdale, USA</span></div>
                      <div class="by"><span>By:  <a href="#">Carmichael Lynch</a></span></div>
                    </div>
                  </div>
                </div>
                <div class="details-similars-wrap_item_footer">
                  <div class="details-similars-wrap_item_footer_buttons clearfix">
                    <div class="details-similars-wrap_item_footer_buttons_blue"><a href="#">VIEW DETAILS</a></div>
                    <div class="details-similars-wrap_item_footer_buttons_green"><a href="#">VIEW WEBSITE</a></div>
                  </div>
                  <div class="details-similars-wrap_item_footer_like"><a href="#">
                      <svg class="svg-icon like-icon">
                        <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#like-icon"></use>
                      </svg></a></div>
                  <div class="details-similars-wrap_item_footer_share"><a href="#">
                      <svg class="svg-icon share-icon">
                        <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#share-icon"></use>
                      </svg></a></div>
                </div>
              </div>
            </div>
            <div class="listing-wrap_grid_grid-item">
              <div class="details-similars-wrap_item">
                <div class="details-similars-wrap_item_img"><a href="#"><%= image_tag"userfiles/blog/img.jpg" %></a></div>
                <div class="details-similars-wrap_item_text clearfix">
                  <div class="details-similars-wrap_item_text_icon"><%= image_tag"template/similar-arph-icon.png" %></div>
                  <div class="details-similars-wrap_item_text_wrap">
                    <div class="details-similars-wrap_item_text_name"><a href="#"> Dotlogics </a></div>
                    <div class="details-similars-wrap_item_text_text2">
                      <div class="adress"><span>Farmingdale, USA</span></div>
                      <div class="by"><span>By:  <a href="#">Carmichael Lynch</a></span></div>
                    </div>
                  </div>
                </div>
                <div class="details-similars-wrap_item_footer">
                  <div class="details-similars-wrap_item_footer_buttons clearfix">
                    <div class="details-similars-wrap_item_footer_buttons_blue"><a href="#">VIEW DETAILS</a></div>
                    <div class="details-similars-wrap_item_footer_buttons_green"><a href="#">VIEW WEBSITE</a></div>
                  </div>
                  <div class="details-similars-wrap_item_footer_like"><a href="#">
                      <svg class="svg-icon like-icon">
                        <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#like-icon"></use>
                      </svg></a></div>
                  <div class="details-similars-wrap_item_footer_share"><a href="#">
                      <svg class="svg-icon share-icon">
                        <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#share-icon"></use>
                      </svg></a></div>
                </div>
              </div>
            </div>
            <div class="listing-wrap_grid_grid-item">
              <div class="details-similars-wrap_item">
                <div class="details-similars-wrap_item_img"><a href="#"><%= image_tag"userfiles/blog/img.jpg" %></a></div>
                <div class="details-similars-wrap_item_text clearfix">
                  <div class="details-similars-wrap_item_text_icon"><%= image_tag"template/similar-arph-icon.png" %></div>
                  <div class="details-similars-wrap_item_text_wrap">
                    <div class="details-similars-wrap_item_text_name"><a href="#"> Dotlogics </a></div>
                    <div class="details-similars-wrap_item_text_text2">
                      <div class="adress"><span>Farmingdale, USA</span></div>
                      <div class="by"><span>By:  <a href="#">Carmichael Lynch</a></span></div>
                    </div>
                  </div>
                </div>
                <div class="details-similars-wrap_item_footer">
                  <div class="details-similars-wrap_item_footer_buttons clearfix">
                    <div class="details-similars-wrap_item_footer_buttons_blue"><a href="#">VIEW DETAILS</a></div>
                    <div class="details-similars-wrap_item_footer_buttons_green"><a href="#">VIEW WEBSITE</a></div>
                  </div>
                  <div class="details-similars-wrap_item_footer_like"><a href="#">
                      <svg class="svg-icon like-icon">
                        <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#like-icon"></use>
                      </svg></a></div>
                  <div class="details-similars-wrap_item_footer_share"><a href="#">
                      <svg class="svg-icon share-icon">
                        <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#share-icon"></use>
                      </svg></a></div>
                </div>
              </div>
            </div>
            <div class="listing-wrap_grid_grid-item">
              <div class="details-similars-wrap_item">
                <div class="details-similars-wrap_item_img"><a href="#"><%= image_tag"userfiles/blog/img.jpg" %></a></div>
                <div class="details-similars-wrap_item_text clearfix">
                  <div class="details-similars-wrap_item_text_icon"><%= image_tag"template/similar-arph-icon.png" %></div>
                  <div class="details-similars-wrap_item_text_wrap">
                    <div class="details-similars-wrap_item_text_name"><a href="#"> Dotlogics </a></div>
                    <div class="details-similars-wrap_item_text_text2">
                      <div class="adress"><span>Farmingdale, USA</span></div>
                      <div class="by"><span>By:  <a href="#">Carmichael Lynch</a></span></div>
                    </div>
                  </div>
                </div>
                <div class="details-similars-wrap_item_footer">
                  <div class="details-similars-wrap_item_footer_buttons clearfix">
                    <div class="details-similars-wrap_item_footer_buttons_blue"><a href="#">VIEW DETAILS</a></div>
                    <div class="details-similars-wrap_item_footer_buttons_green"><a href="#">VIEW WEBSITE</a></div>
                  </div>
                  <div class="details-similars-wrap_item_footer_like"><a href="#">
                      <svg class="svg-icon like-icon">
                        <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#like-icon"></use>
                      </svg></a></div>
                  <div class="details-similars-wrap_item_footer_share"><a href="#">
                      <svg class="svg-icon share-icon">
                        <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#share-icon"></use>
                      </svg></a></div>
                </div>
              </div>
            </div>
            <div class="listing-wrap_grid_grid-item">
              <div class="details-similars-wrap_item">
                <div class="details-similars-wrap_item_img"><a href="#"><%= image_tag"userfiles/blog/img.jpg" %></a></div>
                <div class="details-similars-wrap_item_text clearfix">
                  <div class="details-similars-wrap_item_text_icon"><%= image_tag"template/similar-arph-icon.png" %></div>
                  <div class="details-similars-wrap_item_text_wrap">
                    <div class="details-similars-wrap_item_text_name"><a href="#"> Dotlogics </a></div>
                    <div class="details-similars-wrap_item_text_text2">
                      <div class="adress"><span>Farmingdale, USA</span></div>
                      <div class="by"><span>By:  <a href="#">Carmichael Lynch</a></span></div>
                    </div>
                  </div>
                </div>
                <div class="details-similars-wrap_item_footer">
                  <div class="details-similars-wrap_item_footer_buttons clearfix">
                    <div class="details-similars-wrap_item_footer_buttons_blue"><a href="#">VIEW DETAILS</a></div>
                    <div class="details-similars-wrap_item_footer_buttons_green"><a href="#">VIEW WEBSITE</a></div>
                  </div>
                  <div class="details-similars-wrap_item_footer_like"><a href="#">
                      <svg class="svg-icon like-icon">
                        <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#like-icon"></use>
                      </svg></a></div>
                  <div class="details-similars-wrap_item_footer_share"><a href="#">
                      <svg class="svg-icon share-icon">
                        <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#share-icon"></use>
                      </svg></a></div>
                </div>
              </div>
            </div>
            <div class="listing-wrap_grid_grid-item">
              <div class="details-similars-wrap_item">
                <div class="details-similars-wrap_item_img"><a href="#"><%= image_tag"userfiles/blog/img.jpg" %></a></div>
                <div class="details-similars-wrap_item_text clearfix">
                  <div class="details-similars-wrap_item_text_icon"><%= image_tag"template/similar-arph-icon.png" %></div>
                  <div class="details-similars-wrap_item_text_wrap">
                    <div class="details-similars-wrap_item_text_name"><a href="#"> Dotlogics </a></div>
                    <div class="details-similars-wrap_item_text_text2">
                      <div class="adress"><span>Farmingdale, USA</span></div>
                      <div class="by"><span>By:  <a href="#">Carmichael Lynch</a></span></div>
                    </div>
                  </div>
                </div>
                <div class="details-similars-wrap_item_footer">
                  <div class="details-similars-wrap_item_footer_buttons clearfix">
                    <div class="details-similars-wrap_item_footer_buttons_blue"><a href="#">VIEW DETAILS</a></div>
                    <div class="details-similars-wrap_item_footer_buttons_green"><a href="#">VIEW WEBSITE</a></div>
                  </div>
                  <div class="details-similars-wrap_item_footer_like"><a href="#">
                      <svg class="svg-icon like-icon">
                        <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#like-icon"></use>
                      </svg></a></div>
                  <div class="details-similars-wrap_item_footer_share"><a href="#">
                      <svg class="svg-icon share-icon">
                        <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#share-icon"></use>
                      </svg></a></div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- listing end-->
        <!--bef footer line start-->
        <div class="bef-fot-line">
          <div class="container clearfix">
            <div class="bef-fot-line_left-text"><span>PREVIOUS 10 TOP CUSTOM WEB DESIGN COMPANIES</span></div>
            <div class="bef-fot-line_select">
              <select title="PREVIOUS YEARS" class="selectpicker">
                <option>Option 1</option>
                <option>Option 2</option>
                <option>Option 3</option>
                <option>Option 4</option>
                <option>Option 5</option>
              </select>
            </div>
            <div class="bef-fot-line_right-block"><a href="#">SUBMIT YOUR WEBSITE </a></div>
          </div>
        </div>
        <!--bef footer line end-->

      </div>
      <!-- footer start-->
      <footer>
        <div class="footer_partners-line">
          <div class="container">
            <div class="footer_partners-line_slider">
              <div class="item"><%= image_tag "userfiles/logos/1.png" %></div>
              <div class="item"><%= image_tag "userfiles/logos/2.png" %></div>
              <div class="item"><%= image_tag "userfiles/logos/3.png" %></div>
              <div class="item"><%= image_tag "userfiles/logos/4.png" %></div>
              <div class="item"><%= image_tag "userfiles/logos/5.png" %></div>
              <div class="item"><%= image_tag "userfiles/logos/6.png" %></div>
            </div>
          </div>
        </div>
        <div class="footer_second-line">
          <div class="container clearfix">
            <div class="footer_second-line_text-block">
              <div class="footer_second-line_text-block_logo hidden-xs hidden-sm"><a href="#"><%= image_tag"template/header-logo.png" %></a></div>
              <div class="footer_second-line_text-block_text hidden-xs hidden-sm">
                <p>10 Best Design is the internet’s #1 web design ranking, reviews, and awards organization. Our team has a extensive experience in the industry, and our Best Web Design Firms & Website Design Awards are now one of the fastest growing!</p>
              </div>
              <div class="footer_second-line_text-block_follow-us">
                <div class="footer_second-line_text-block_follow-us_title"><span>

                    FOLLOW <b>US</b></span></div>
                <div class="footer_second-line_text-block_follow-us_icons"><a href="#">
                    <svg class="svg-icon vimeo-icon">
                      <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#vimeo-icon"></use>
                    </svg></a><a href="#">
                    <svg class="svg-icon stubleupon-icon">
                      <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#stubleupon-icon"></use>
                    </svg></a><a href="#">
                    <svg class="svg-icon skype-icon">
                      <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#skype-icon"></use>
                    </svg></a><a href="#">
                    <svg class="svg-icon facebook-icon">
                      <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#facebook-icon"></use>
                    </svg></a><a href="#">
                    <svg class="svg-icon youtube-icon">
                      <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#youtube-icon"></use>
                    </svg></a><a href="#">
                    <svg class="svg-icon twitter-icon">
                      <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#twitter-icon"></use>
                    </svg></a></div>
              </div>
            </div>
            <div class="footer_second-line_text-block_nav-block">
              <div class="footer_second-line_text-block_nav-block_title"><span>

                  TOP <b>AWARDS</b></span>
                <div class="footer_second-line_text-block_follow-us_title_mobile-icon visible-xs visible-sm"><span></span><span></span><span></span></div>
              </div>
              <ul>
                <li><a href="#">Web Design Firms</a></li>
                <li><a href="#">Corporate Web Design</a></li>
                <li><a href="#">Small Business Web Design</a></li>
                <li><a href="#">Drupal Web Design Firms</a></li>
                <li><a href="#">Custom Web Design Firms</a></li>
                <li><a href="#">Responsive Design Firms</a></li>
                <li><a href="#">eCommerce Design Firms</a></li>
                <li><a href="#">SEO Web Design Firms</a></li>
                <li><a href="#">Parallax Design Firms</a></li>
              </ul>
            </div>
            <div class="footer_second-line_text-block_nav-block">
              <div class="footer_second-line_text-block_nav-block_title"><span>

                  FEATURED <b>DESIGN FIRMS</b></span>
                <div class="footer_second-line_text-block_follow-us_title_mobile-icon visible-xs visible-sm"><span></span><span></span><span></span></div>
              </div>
              <ul>
                <li><a href="#">Big Drop Inc</a></li>
                <li><a href="#">Blue Fountain Media</a></li>
                <li><a href="#">CLiKZY Creative</a></li>
                <li><a href="#">The Creative Momentum</a></li>
                <li><a href="#">Forix Web Design</a></li>
                <li><a href="#">DotcomWeavers</a></li>
                <li><a href="#">Inflexion Interactive</a></li>
              </ul>
            </div>
          </div>
        </div>
        <div class="footer_bottom-line">
          <div class="container clearfix">
            <div class="footer_bottom-line_copy-text"><span>10 Best Network LLC © 2015</span></div>
            <div class="footer_bottom-line_nav hidden-xs hidden-sm">
              <ul class="clearfix">
                <li><a href="#">Home</a></li>
                <li><a href="#">Privacy</a></li>
                <li><a href="#">About</a></li>
                <li><a href="#">Web Development Directory</a></li>
                <li><a href="#">Disclaimer</a></li>
              </ul>
            </div>
            <div class="footer_bottom-line_to-top-button visible-xs visible-sm"><span></span></div>
            <div class="footer_bottom-line_home-button visible-xs visible-sm"><a href="#">
                <svg class="svg-icon home-icon">
                  <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#home-icon"></use>
                </svg></a></div>
          </div>
        </div>
      </footer>
      <!-- footer end-->
      <!-- modals start-->
      <div id="mob-menu-right" tabindex="-1" role="dialog" class="modal fade right mob-menu-right hidden-lg hidden-md">
        <div data-dismiss="modal" class="mob-menu-right_menu-icon">
          <div class="icon"><span></span><span></span><span></span></div>
        </div>
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="mob-menu-right_title"><span>NAVIGATION</span></div>
            <div class="mob-menu-right_nav-f">
              <ul>
                <li><a href="#">10 Best Web Design Firms</a></li>
                <li><a href="#">Website Awards</a></li>
                <li><a href="#">Video Production</a></li>
                <li><a href="#">Blog</a></li>
                <li><a href="#">About</a></li>
                <li><a href="#">Contact</a></li>
              </ul>
            </div>
            <div class="mob-menu-right_nav-s">
              <ul>
                <li><a href="#"> <span>WINNERS</span>
                    <svg class="svg-icon winners-icon">
                      <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#mc-icon-winners"></use>
                    </svg></a></li>
                <li><a href="#"><span>RUNNERS-UP</span>
                    <svg class="svg-icon runners-icon">
                      <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#mc-icon-runners"></use>
                    </svg></a></li>
                <li><a href="#"> <span>NEWLY ADDED</span>
                    <svg class="svg-icon new-icon">
                      <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#mc-icon-new"></use>
                    </svg></a></li>
                <li><a href="#"> <span>POPULAR</span>
                    <svg class="svg-icon popular-icon">
                      <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#mc-icon-popular"></use>
                    </svg></a></li>
                <li><a href="#"> <span>STAFF FAVORITES</span>
                    <svg class="svg-icon staff-icon">
                      <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#mc-icon-staff"></use>
                    </svg></a></li>
              </ul>
            </div>
            <div class="mob-menu-right_submit"><a href="#">SUBMIT YOUR WEBSITE</a></div>
          </div>
        </div>
      </div>
      <!-- modals end-->
    </div>

