Welcome Page
  <div>
    <% if user_signed_in? %>
      Logged in as <strong><%= current_user.name%></strong><br>
      <%= image_tag(current_user.image_url, class: 'user-image') %>
      <%= link_to 'Edit Profile', edit_user_registration_path %><br>

      <%= button_to 'Sign Out', destroy_user_session_path, method: :delete %>
    <% else %>
      <%= link_to 'Sign Up', new_user_registration_path %> |
      <%= link_to 'Login', new_user_session_path %><br>
      <%= link_to 'Sign In with Twitter', user_omniauth_authorize_path(:twitter) %><br>
      <%= link_to 'Sign In with Facebook', user_omniauth_authorize_path(:facebook) %><br>
      <%= link_to 'Sign In with Google', user_omniauth_authorize_path(:google_oauth2) %>
    <% end %>
  </div>
