
    <div class="page-wrapp">
      <div class="content-without-footer">
        <%= render 'layouts/header' %>
        <!-- submit start-->
        <div class="submit-wrap">
          <div class="container">
            <div class="submit-wrap_title"><span>SUBMIT A <b>WEBSITE</b></span></div>
            <div class="submit-wrap_af-title-text">
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis posuere cursus rutrum. Duis orci metus, lobortis ut consectetur non, elementum non elit. Praesent viverra quam sit amet lacinia aliquet. Ut interdum tortor non quam mollis vestibulum. Maecenas at magna sapien</p>
            </div>
            <div class="submit-wrap_form-wrap">
              <div class="submit-wrap_form-wrap_title"><span>INFO ABOUT WEB DESIGN COMPANY THAT MADE THE WEBSITE</span></div>
              <%= form_for @company do |f| %>
                <%= hidden_field_tag :website_id, @website_id %>
                <div class="submit-wrap_form-wrap_line clearfix">
                  <div class="submit-wrap_form-wrap_line_text"><span>COMPANY NAME</span></div>
                  <div class="submit-wrap_form-wrap_line_input">
                    <div class="input-wrap">
                      <%= f.text_field :name, placeholder: 'Site Name', required: true%>
                    </div>
                  </div>
                </div>
                <div class="submit-wrap_form-wrap_line clearfix">
                  <div class="submit-wrap_form-wrap_line_text"><span>EMAIL ADDRESS</span></div>
                  <div class="submit-wrap_form-wrap_line_input">
                    <div class="input-wrap">
                      <%= f.text_field :email, placeholder: 'Your Email Address' , required: true%>
                    </div>
                  </div>
                </div>
                <div class="submit-wrap_form-wrap_line clearfix">
                  <div class="submit-wrap_form-wrap_line_text"><span>WEBSITE PAGE URLS</span></div>
                  <div class="submit-wrap_form-wrap_line_input">
                    <div class="submit-wrap_form-wrap_line clearfix">
                      <div class="submit-wrap_form-wrap_line_input_page-name">
                        <div class="input-wrap">
                          <input type="text" placeholder="Page Name 1">
                        </div>
                      </div>
                      <div class="submit-wrap_form-wrap_line_input_page-url">
                        <div class="submit-wrap_form-wrap_line_input_page-url_http"><span>http://</span></div>
                        <div class="input-wrap">
                          <input type="text" placeholder="Page url">
                        </div>
                      </div>
                    </div>
                    <div class="submit-wrap_form-wrap_line clearfix">
                      <div class="submit-wrap_form-wrap_line_input_page-name">
                        <div class="input-wrap">
                          <input type="text" placeholder="Page Name 2">
                        </div>
                      </div>
                      <div class="submit-wrap_form-wrap_line_input_page-url">
                        <div class="submit-wrap_form-wrap_line_input_page-url_http"><span>http://</span></div>
                        <div class="input-wrap">
                          <input type="text" placeholder="Page url">
                        </div>
                      </div>
                    </div>
                    <div class="submit-wrap_form-wrap_line clearfix">
                      <div class="submit-wrap_form-wrap_line_input_page-name">
                        <div class="input-wrap">
                          <input type="text" placeholder="Page Name 3">
                        </div>
                      </div>
                      <div class="submit-wrap_form-wrap_line_input_page-url">
                        <div class="submit-wrap_form-wrap_line_input_page-url_http"><span>http://</span></div>
                        <div class="input-wrap">
                          <input type="text" placeholder="Page url">
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="submit-wrap_form-wrap_line clearfix">
                  <div class="submit-wrap_form-wrap_line_text"><span>TWITTER</span></div>
                  <div class="submit-wrap_form-wrap_line_input">
                    <div class="input-wrap">
                      <%= f.text_field :twitter, placeholder: "Twitter Handle of Website"%>
                    </div>
                  </div>
                </div>
                <div class="submit-wrap_form-wrap_line clearfix">
                  <div class="submit-wrap_form-wrap_line_text"><span>CITY </span></div>
                  <div class="submit-wrap_form-wrap_line_input">
                    <div class="input-wrap">
                      <%= f.text_field :city, placeholder: "Your City" , required: true%>
                    </div>
                  </div>
                </div>
                <div class="submit-wrap_form-wrap_line clearfix">
                  <div class="submit-wrap_form-wrap_line_text"><span>STATE </span></div>
                  <div class="submit-wrap_form-wrap_line_input">
                    <div class="input-wrap">
                      <%= f.text_field :state, placeholder: "Country if not in USA" , required: true%>
                    </div>
                  </div>
                </div>
                <div class="submit-wrap_form-wrap_next-button clearfix">
                  <button type="submit" class="btn pull-right">NEXT</button>
                  <button type="submit" class="btn pull-left">BACK</button>
                </div>
              <% end %>
            </div>
            <div class="submit-wrap_steps-wrap">
              <div class="submit-wrap_steps-wrap_inn clearfix">
                <div class="submit-wrap_steps-wrap_step active">
                  <div class="submit-wrap_steps-wrap_step_number"><span>1</span></div>
                  <div class="submit-wrap_steps-wrap_step_text"><span>SITE INFORMATION</span></div>
                </div>
                <div class="submit-wrap_steps-wrap_line"></div>
                <div class="submit-wrap_steps-wrap_step active">
                  <div class="submit-wrap_steps-wrap_step_number"><span>2</span></div>
                  <div class="submit-wrap_steps-wrap_step_text"><span>DESIGNER INFORMATION</span></div>
                </div>
                <div class="submit-wrap_steps-wrap_line"></div>
                <div class="submit-wrap_steps-wrap_step">
                  <div class="submit-wrap_steps-wrap_step_number"><span>3</span></div>
                  <div class="submit-wrap_steps-wrap_step_text"><span>REVIEW AND CONFIRM</span></div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- submit end-->

      </div>
      <!-- footer start-->
      <footer>
        <div class="footer_partners-line">
          <div class="container">
            <div class="footer_partners-line_slider">
              <div class="item"><%= image_tag "userfiles/logos/1.png" %></div>
              <div class="item"><%= image_tag "userfiles/logos/2.png" %></div>
              <div class="item"><%= image_tag "userfiles/logos/3.png" %></div>
              <div class="item"><%= image_tag "userfiles/logos/4.png" %></div>
              <div class="item"><%= image_tag "userfiles/logos/5.png" %></div>
              <div class="item"><%= image_tag "userfiles/logos/6.png" %></div>
            </div>
          </div>
        </div>
        <div class="footer_second-line">
          <div class="container clearfix">
            <div class="footer_second-line_text-block">
              <div class="footer_second-line_text-block_logo hidden-xs hidden-sm"><a href="#"><%= image_tag "template/header-logo.png"%></a></div>
              <div class="footer_second-line_text-block_text hidden-xs hidden-sm">
                <p>10 Best Design is the internet’s #1 web design ranking, reviews, and awards organization. Our team has a extensive experience in the industry, and our Best Web Design Firms & Website Design Awards are now one of the fastest growing!</p>
              </div>
              <div class="footer_second-line_text-block_follow-us">
                <div class="footer_second-line_text-block_follow-us_title"><span>

                    FOLLOW <b>US</b></span></div>
                <div class="footer_second-line_text-block_follow-us_icons"><a href="#">
                    <svg class="svg-icon vimeo-icon">
                      <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#vimeo-icon"></use>
                    </svg></a><a href="#">
                    <svg class="svg-icon stubleupon-icon">
                      <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#stubleupon-icon"></use>
                    </svg></a><a href="#">
                    <svg class="svg-icon skype-icon">
                      <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#skype-icon"></use>
                    </svg></a><a href="#">
                    <svg class="svg-icon facebook-icon">
                      <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#facebook-icon"></use>
                    </svg></a><a href="#">
                    <svg class="svg-icon youtube-icon">
                      <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#youtube-icon"></use>
                    </svg></a><a href="#">
                    <svg class="svg-icon twitter-icon">
                      <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#twitter-icon"></use>
                    </svg></a></div>
              </div>
            </div>
            <div class="footer_second-line_text-block_nav-block">
              <div class="footer_second-line_text-block_nav-block_title"><span>

                  TOP <b>AWARDS</b></span>
                <div class="footer_second-line_text-block_follow-us_title_mobile-icon visible-xs visible-sm"><span></span><span></span><span></span></div>
              </div>
              <ul>
                <li><a href="#">Web Design Firms</a></li>
                <li><a href="#">Corporate Web Design</a></li>
                <li><a href="#">Small Business Web Design</a></li>
                <li><a href="#">Drupal Web Design Firms</a></li>
                <li><a href="#">Custom Web Design Firms</a></li>
                <li><a href="#">Responsive Design Firms</a></li>
                <li><a href="#">eCommerce Design Firms</a></li>
                <li><a href="#">SEO Web Design Firms</a></li>
                <li><a href="#">Parallax Design Firms</a></li>
              </ul>
            </div>
            <div class="footer_second-line_text-block_nav-block">
              <div class="footer_second-line_text-block_nav-block_title"><span>

                  FEATURED <b>DESIGN FIRMS</b></span>
                <div class="footer_second-line_text-block_follow-us_title_mobile-icon visible-xs visible-sm"><span></span><span></span><span></span></div>
              </div>
              <ul>
                <li><a href="#">Big Drop Inc</a></li>
                <li><a href="#">Blue Fountain Media</a></li>
                <li><a href="#">CLiKZY Creative</a></li>
                <li><a href="#">The Creative Momentum</a></li>
                <li><a href="#">Forix Web Design</a></li>
                <li><a href="#">DotcomWeavers</a></li>
                <li><a href="#">Inflexion Interactive</a></li>
              </ul>
            </div>
          </div>
        </div>
        <div class="footer_bottom-line">
          <div class="container clearfix">
            <div class="footer_bottom-line_copy-text"><span>10 Best Network LLC © 2015</span></div>
            <div class="footer_bottom-line_nav hidden-xs hidden-sm">
              <ul class="clearfix">
                <li><a href="#">Home</a></li>
                <li><a href="#">Privacy</a></li>
                <li><a href="#">About</a></li>
                <li><a href="#">Web Development Directory</a></li>
                <li><a href="#">Disclaimer</a></li>
              </ul>
            </div>
            <div class="footer_bottom-line_to-top-button visible-xs visible-sm"><span></span></div>
            <div class="footer_bottom-line_home-button visible-xs visible-sm"><a href="#">
                <svg class="svg-icon home-icon">
                  <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#home-icon"></use>
                </svg></a></div>
          </div>
        </div>
      </footer>
      <!-- footer end-->
      <!-- modals start-->
      <div id="mob-menu-right" tabindex="-1" role="dialog" class="modal fade right mob-menu-right hidden-lg hidden-md">
        <div data-dismiss="modal" class="mob-menu-right_menu-icon">
          <div class="icon"><span></span><span></span><span></span></div>
        </div>
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="mob-menu-right_title"><span>NAVIGATION</span></div>
            <div class="mob-menu-right_nav-f">
              <ul>
                <li><a href="#">10 Best Web Design Firms</a></li>
                <li><a href="#">Website Awards</a></li>
                <li><a href="#">Video Production</a></li>
                <li><a href="#">Blog</a></li>
                <li><a href="#">About</a></li>
                <li><a href="#">Contact</a></li>
              </ul>
            </div>
            <div class="mob-menu-right_nav-s">
              <ul>
                <li><a href="#"> <span>WINNERS</span>
                    <svg class="svg-icon winners-icon">
                      <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#mc-icon-winners"></use>
                    </svg></a></li>
                <li><a href="#"><span>RUNNERS-UP</span>
                    <svg class="svg-icon runners-icon">
                      <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#mc-icon-runners"></use>
                    </svg></a></li>
                <li><a href="#"> <span>NEWLY ADDED</span>
                    <svg class="svg-icon new-icon">
                      <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#mc-icon-new"></use>
                    </svg></a></li>
                <li><a href="#"> <span>POPULAR</span>
                    <svg class="svg-icon popular-icon">
                      <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#mc-icon-popular"></use>
                    </svg></a></li>
                <li><a href="#"> <span>STAFF FAVORITES</span>
                    <svg class="svg-icon staff-icon">
                      <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#mc-icon-staff"></use>
                    </svg></a></li>
              </ul>
            </div>
            <div class="mob-menu-right_submit"><a href="#">SUBMIT YOUR WEBSITE</a></div>
          </div>
        </div>
      </div>
      <!-- modals end-->
    </div>
